@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap");
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.svg#Plumb-Black") format("svg"), url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  color: #413e6f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col_"] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col_1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col_2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col_3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col_4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col_5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col_6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col_7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col_8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col_9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col_10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col_11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col_12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .s_hide {
    display: none !important;
  }
  .s_show {
    display: flex !important;
    flex-direction: column;
  }
  .s_show_b {
    display: block !important;
  }
  .col_s_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_s {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .s_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .s_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .s_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .s_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .s_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .s_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .s_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .s_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .s_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .s_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .s_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .s_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_s_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_s_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_s_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_s_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_s_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_s_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_s_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_s_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_s_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_s_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_s_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_s_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .m_hide {
    display: none !important;
  }
  .m_show {
    display: flex !important;
    flex-direction: column;
  }
  .m_show_b {
    display: block !important;
  }
  .col_m_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_m {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .m_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .m_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .m_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .m_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .m_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .m_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .m_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .m_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .m_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .m_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .m_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .m_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_m_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_m_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_m_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_m_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_m_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_m_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_m_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_m_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_m_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_m_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_m_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_m_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1025px) {
  .l_hide {
    display: none !important;
  }
  .l_show {
    display: flex !important;
    flex-direction: column;
  }
  .l_show_b {
    display: block !important;
  }
  .col_l_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_l {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .l_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .l_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .l_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .l_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .l_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .l_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .l_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .l_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .l_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .l_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .l_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .l_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_l_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_l_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_l_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_l_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_l_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_l_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_l_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_l_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_l_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_l_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_l_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_l_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .xl_hide {
    display: none !important;
  }
  .xl_show {
    display: flex !important;
    flex-direction: column;
  }
  .xl_show_b {
    display: block !important;
  }
  .col_xl_auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col_xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .xl_offset_1 {
    margin-left: calc((1 * (100% / 12)));
  }
  .xl_offset_2 {
    margin-left: calc((2 * (100% / 12)));
  }
  .xl_offset_3 {
    margin-left: calc((3 * (100% / 12)));
  }
  .xl_offset_4 {
    margin-left: calc((4 * (100% / 12)));
  }
  .xl_offset_5 {
    margin-left: calc((5 * (100% / 12)));
  }
  .xl_offset_6 {
    margin-left: calc((6 * (100% / 12)));
  }
  .xl_offset_7 {
    margin-left: calc((7 * (100% / 12)));
  }
  .xl_offset_8 {
    margin-left: calc((8 * (100% / 12)));
  }
  .xl_offset_9 {
    margin-left: calc((9 * (100% / 12)));
  }
  .xl_offset_10 {
    margin-left: calc((10 * (100% / 12)));
  }
  .xl_offset_11 {
    margin-left: calc((11 * (100% / 12)));
  }
  .xl_offset_12 {
    margin-left: calc((12 * (100% / 12)));
  }
  .col_xl_1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_xl_2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_xl_3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col_xl_4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_xl_5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_xl_6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col_xl_7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_xl_8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_xl_9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col_xl_10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_xl_11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_xl_12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

.df {
  display: flex;
  align-items: center;
}

.df.s_betwen {
  justify-content: space-between;
}

.df.center {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
}

body.no_scroll {
  overflow: hidden;
}

.container {
  max-width: 1336px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img_wrap {
  flex: none;
  overflow: hidden;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.grey_wave_link, .blue_wave_link {
  transition-duration: 0.2s;
}

.grey_wave_link::before, .blue_wave_link::before {
  transition-duration: 0.2s;
}

.grey_wave_link:hover, .blue_wave_link:hover {
  transition-duration: 0.2s;
}

.grey_wave_link:hover::before, .blue_wave_link:hover::before {
  transition-duration: 0.2s;
}

.grey_wave_link {
  background: url("../img/waves_white.svg") no-repeat left bottom -3px/contain;
}

.grey_wave_link:hover {
  color: #fff;
  background: #a42b45 url("../img/waves_white.svg") no-repeat left bottom -3px/contain;
}

header {
  background: #00263a url("../img/altankas_top_bg_desctop.jpg") no-repeat center/contain;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 59px;
  letter-spacing: 0.01em;
  line-height: 77px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

main {
  flex: 1 1 auto;
  min-height: auto;
  padding-top: 83px;
  padding-bottom: 97px;
  background-color: #f5f5f5;
}

footer {
  height: 450px;
  background: #00263a;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}

.breadcrumbs::before {
  content: "||";
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -1px;
}

.breadcrumbs a {
  color: #00263a;
  padding-right: 12px;
}

.breadcrumbs a::after {
  content: "|";
  color: #00263a;
  position: absolute;
  top: -1px;
  right: 4px;
}

.breadcrumbs span {
  opacity: 0.5;
}

.content {
  padding: 65px 45px 55px;
}

@media all and (max-width: 750px) {
  .content {
    padding: 50px 20px 40px;
  }
}

.pup_sub_title {
  font-size: 14px;
  cursor: default;
  margin-bottom: 10px;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.pup_text {
  color: #00263a;
  cursor: default;
  font: normal normal normal 14px/23px Montserrat;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}

.alt_date {
  text-decoration: none;
  margin-bottom: 2px;
  font: normal normal 800 19px/58px Montserrat;
  letter-spacing: 0px;
  line-height: 10px;
}

@media all and (max-width: 760px) {
  .alt_date {
    font-size: 16px;
  }
}

.content {
  max-width: 896px;
  margin: auto;
  background-color: #fff;
  padding: 50px 60px 45px;
}

@media all and (max-width: 1020px) {
  .booking .content {
    width: 90vw;
  }
}

@media all and (max-width: 760px) {
  .booking .content {
    padding: 20px 20px 30px;
    min-height: unset;
  }
}

.booking .pup_text_style {
  letter-spacing: 0.3px;
}

@media all and (max-width: 760px) {
  .booking .pup_text_style {
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 10px;
  }
}

.booking .popup-inner [data-popup-close] {
  right: 22px;
  top: 28px;
}

@media all and (max-width: 760px) {
  .booking .popup-inner [data-popup-close] {
    top: 20px;
  }
}

.booking .progress_line_wrap {
  display: flex;
  align-items: center;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap {
    justify-content: center;
  }
}

.booking .progress_line_wrap .step {
  position: relative;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .step + .line + .step {
    margin-left: 15px;
  }
}

.booking .progress_line_wrap .step .img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  border: 2px solid #00263a;
  opacity: 0.3;
  transition: opacity 360ms;
}

.booking .progress_line_wrap .step .img_wrap img {
  max-width: 20px;
  max-height: 20px;
  object-fit: none;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .step .img_wrap {
    width: 8px;
    height: 8px;
    border: 1px solid #00263a;
  }
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .step .img_wrap img {
    display: none;
  }
}

.booking .progress_line_wrap .step span {
  cursor: pointer;
  position: absolute;
  top: 105%;
  color: #00263a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%);
  opacity: 0.3;
  transition: opacity 180ms;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .step span {
    color: transparent;
    width: 15px;
    height: 15px;
    top: -4px;
    left: 2px;
    overflow: hidden;
  }
}

.booking .progress_line_wrap .step.active .img_wrap,
.booking .progress_line_wrap .step.active span {
  opacity: 1;
  transition: opacity 360ms;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .step.active .img_wrap {
    background-color: #00263a;
  }
}

.booking .progress_line_wrap .line {
  flex: 1 1 auto;
  height: 2px;
  background-color: #00263a;
  opacity: 0.3;
  transition: opacity 360ms;
}

@media all and (max-width: 760px) {
  .booking .progress_line_wrap .line {
    display: none;
  }
}

.booking .progress_line_wrap .line.active {
  opacity: 1;
  transition: opacity 360ms;
}

.booking .booking_date {
  margin-top: 15px;
}

@media all and (max-width: 760px) {
  .booking .booking_date {
    margin-top: -8px;
    margin-bottom: -12px;
  }
}

.booking .booking_date p {
  cursor: default;
  font: normal normal 800 16px/58px Montserrat;
  letter-spacing: 0.16px;
  color: #00263a;
}

@media all and (max-width: 760px) {
  .booking .booking_date p {
    font-size: 11px;
  }
}

.booking .booking_date p span {
  margin-left: 15px;
  cursor: default;
  font: normal normal normal 600 14px/23px Montserrat;
  letter-spacing: 0px;
}

@media all and (max-width: 760px) {
  .booking .booking_date p span {
    font-size: 13px;
  }
}

.booking .dates_table_wrap {
  border: 2px solid #00263a;
  padding: 27px 40px 40px 40px;
}

@media all and (max-width: 760px) {
  .booking .dates_table_wrap {
    padding: 0 27px 18px 23px;
  }
}

.booking .month_switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking .month_switch .month {
  width: 235px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.16px;
  line-height: 58px;
  text-align: center;
  cursor: default;
}

@media all and (max-width: 760px) {
  .booking .month_switch .month {
    font-size: 11px;
    width: 135px;
  }
}

.booking .month_switch button {
  width: 20px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.booking .month_switch button:before {
  content: "";
  display: block;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.booking .month_switch button.prew_mnth:before {
  transform: rotate(180deg);
  background: url("../img/calendar_arrow.svg") no-repeat center/10px auto;
}

@media all and (max-width: 760px) {
  .booking .month_switch button.prew_mnth:before {
    background: url("../img/calendar_arrow.svg") no-repeat center/7px auto;
  }
}

.booking .month_switch button.next_mnth:before {
  background: url("../img/calendar_arrow.svg") no-repeat center/10px auto;
}

@media all and (max-width: 760px) {
  .booking .month_switch button.next_mnth:before {
    background: url("../img/calendar_arrow.svg") no-repeat center/7px auto;
  }
}

.booking .days_line_wrap {
  padding-top: 11px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 760px) {
  .booking .days_line_wrap {
    padding-top: 0;
    margin-top: -5px;
    padding-bottom: 10px;
  }
}

.booking .days_line_wrap p {
  cursor: default;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 20px;
  width: 44px;
  text-align: center;
}

@media all and (max-width: 760px) {
  .booking .days_line_wrap p {
    font-size: 11px;
    width: 20px;
  }
}

.booking .calendar .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking .calendar .line + .line {
  margin-top: 20px;
}

@media all and (max-width: 760px) {
  .booking .calendar .line + .line {
    margin-top: 14px;
  }
}

.booking .calendar .day {
  width: 44px;
  height: 44px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
  opacity: 1;
  transform: scale(1);
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

@media all and (max-width: 760px) {
  .booking .calendar .day {
    font-size: 11px;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
  }
}

.booking .calendar .day.disabled {
  opacity: 0.3;
  cursor: default;
}

.booking .calendar .day.curent {
  opacity: 1;
  font-weight: 700;
}

.booking .calendar .day.active {
  background-color: #a42b45;
  opacity: 1;
  color: #fff;
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

.booking .calendar .day:hover:not(.disabled) {
  background-color: #a42b45;
  opacity: 1;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.18);
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

.booking .bnths_wrap {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 450px) {
  .booking .bnths_wrap {
    height: auto;
    position: relative;
    bottom: auto;
    width: 100%;
  }
}

.booking .bnths_wrap .blue_wave_link,
.booking .bnths_wrap .grey_wave_link {
  margin-top: 40px;
}

@media all and (max-width: 750px) {
  .booking .bnths_wrap .blue_wave_link,
  .booking .bnths_wrap .grey_wave_link {
    margin-top: 15px;
  }
}

.booking .blue_wave_link,
.booking .grey_wave_link {
  height: 51px;
  line-height: 0px;
  width: 207px;
  margin-top: 12px;
  padding: 26px 10px 25px;
  letter-spacing: 0px;
}

@media all and (max-width: 760px) {
  .booking .blue_wave_link,
  .booking .grey_wave_link {
    height: 30px;
    width: 135px;
    margin-top: 15px;
    padding: 10px 10px 10px;
    font-size: 8px;
    background-size: 55%, 100%;
    background-position-x: -43%;
    background-position-y: 2px;
  }
}

.booking .altanka_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 17px;
}

@media all and (max-width: 770px) {
  .booking .altanka_selector {
    flex-wrap: wrap;
    margin-top: 11px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 770px) {
  .booking .altanka_selector .select_and_map {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }
}

.booking .altanka_selector .select_and_map .booking_type {
  cursor: default;
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.16px;
  margin-bottom: 5px;
}

@media all and (max-width: 750px) {
  .booking .altanka_selector .select_and_map .booking_type {
    flex-wrap: wrap;
    font-size: 11px;
  }
}

.booking .altanka_selector .select_and_map .booking_type.under {
  font-weight: 600;
}

.booking .altanka_selector .select_and_map .show_map {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.14px;
  line-height: 20px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media all and (max-width: 750px) {
  .booking .altanka_selector .select_and_map .show_map {
    font-size: 10px;
  }
}

.booking .altanka_selector .select_and_map .show_map:hover {
  text-decoration: none;
}

.booking .altanka_selector .drop_down_wrap {
  width: 300px;
  height: 50px;
  border: 2px solid #00263a;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 180ms;
}

@media all and (max-width: 750px) {
  .booking .altanka_selector .drop_down_wrap {
    width: 100%;
  }
}

.booking .altanka_selector .drop_down_wrap:hover {
  opacity: 0.4;
  transition: opacity 180ms;
}

.booking .altanka_selector .drop_down_wrap.active {
  opacity: 1;
  transition: opacity 180ms;
}

.booking .altanka_selector .drop_down_wrap .title {
  position: absolute;
  left: 20px;
  top: -10px;
  cursor: pointer;
  background-color: #fff;
  width: 95px;
  height: 20px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.11px;
  line-height: 20px;
  text-align: left;
  text-align: center;
}

.booking .altanka_selector .drop_down_wrap img {
  margin-left: 20px;
  width: 15px;
  height: 9px;
}

.booking .altanka_selector .drop_down_wrap .selcted {
  color: #00263a;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  margin-left: 17px;
}

@media all and (max-width: 750px) {
  .booking .altanka_selector .drop_down_wrap .selcted {
    font-size: 11px;
  }
}

.booking .altanka_selector .drop_down_wrap .drop {
  z-index: 11;
  top: 110%;
  left: -2px;
  position: absolute;
  width: calc(100% + 4px);
  border: 2px solid #00263a;
  background-color: #fff;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 180ms;
}

.booking .altanka_selector .drop_down_wrap .drop div {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-left: 33px;
}

.booking .altanka_selector .drop_down_wrap .drop div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 17px;
  height: 13px;
  background: url("../img/checked-symbol.svg") no-repeat center/contain;
  opacity: 0;
  transition: opacity 180ms;
}

.booking .altanka_selector .drop_down_wrap .drop div.selected {
  font-weight: 600;
  position: relative;
}

.booking .altanka_selector .drop_down_wrap .drop div.selected::before {
  opacity: 1;
  transition: opacity 180ms;
}

.booking .altanka_selector .drop_down_wrap .drop div:hover::before {
  opacity: 1;
  transition: opacity 180ms;
}

.booking .altanka_selector .drop_down_wrap.active .drop {
  opacity: 1;
  pointer-events: all;
  transition: all 180ms;
}

.booking .altanki_wrap {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
}

.booking .altanki_wrap .altanka {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #707070;
  background-color: #fff;
  color: #00263a;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding-top: 8px;
  line-height: normal;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

@media all and (max-width: 750px) {
  .booking .altanki_wrap .altanka {
    width: 45px;
    height: 45px;
    margin-bottom: 14px;
  }
}

.booking .altanki_wrap .altanka span {
  display: block;
  font-size: 10px;
  color: #00263a;
  font-weight: 400;
  transition: color 180ms;
  cursor: pointer;
}

.booking .altanki_wrap .altanka span:before {
  content: "₴";
}

.booking .altanki_wrap .altanka.reserved {
  cursor: default;
  background-color: #dbdbdb;
}

.booking .altanki_wrap .altanka.reserved span {
  cursor: default;
}

.booking .altanki_wrap .altanka.active {
  border: 1px solid #a42b45;
  background-color: #a42b45;
  color: #fff;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking .altanki_wrap .altanka.active span {
  color: #fff;
  transition: color 180ms;
}

.booking .altanki_wrap .altanka.booked {
  cursor: default;
  border: 1px solid #00263a;
  background-color: #00263a;
  color: #fff;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking .altanki_wrap .altanka.booked span {
  color: #fff;
  transition: color 180ms;
}

.booking .altanki_wrap .altanka:hover:not(.reserved):not(.active):not(.booked) {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #a42b45;
  color: #fff;
  transform: scale(1.15);
  border: 1px solid #a42b45;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking .altanki_wrap .altanka:hover:not(.reserved):not(.active):not(.booked) span {
  color: #fff;
  transition: color 180ms;
}

.booking .altanki_wrap:after {
  content: "";
  flex: 1 1 auto;
}

.booking .under_altankas {
  display: grid;
  margin-top: 20px;
  gap: 0 40px;
  grid-template-areas: "status_wrap legend_wrap" "status_wrap show_popup";
}

.booking .status_wrap {
  grid-area: status_wrap;
}

.booking .status_wrap .status {
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-right: 26px;
  cursor: default;
}

@media all and (max-width: 750px) {
  .booking .status_wrap .status {
    margin-bottom: 5px;
  }
}

.booking .status_wrap .status span {
  width: 19px;
  height: 19px;
  margin-right: 12px;
}

@media all and (max-width: 750px) {
  .booking .status_wrap .status span {
    width: 15px;
    height: 15px;
  }
}

.booking .status_wrap .status span.empty {
  border: 1px solid #707070;
  background-color: #ffffff;
}

.booking .status_wrap .status span.selected {
  background-color: #a42b45;
}

.booking .status_wrap .status span.reserved {
  background-color: #878787;
}

.booking .status_wrap .status span.booked {
  background-color: #00263a;
}

.booking .status_wrap .status + .status {
  margin-top: 12px;
}

.booking .reserv_data {
  color: #00263a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 217px;
  margin-top: 5px;
  margin-bottom: 8px;
  cursor: default;
}

@media all and (max-width: 770px) {
  .booking .reserv_data {
    padding-left: 0;
    line-height: 16px;
  }
}

.booking .preson_count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: baseline;
  gap: 0 10px;
  flex-wrap: wrap;
  align-items: center;
}

@media all and (max-width: 770px) {
  .booking .preson_count {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.booking .preson_count > p {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 20px;
  margin-right: 41px;
  cursor: default;
  text-transform: uppercase;
  white-space: nowrap;
}

@media all and (max-width: 770px) {
  .booking .preson_count > p {
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 11px;
  }
}

.booking .preson_count .type {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

@media all and (max-width: 750px) {
  .booking .preson_count .type {
    flex: 1 1 100%;
    margin-bottom: 5px;
  }
}

.booking .preson_count .type span {
  width: 68px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: default;
}

.booking .preson_count .type span img {
  margin-left: 7px;
  width: 12px;
  height: 16px;
}

.booking .preson_count .type p {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.booking .show_altankas_map {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 58px;
  text-align: left;
  color: #00263a;
  text-decoration: underline;
  font-weight: 900;
}

.booking .show_altankas_map::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 22px;
  background: url("../img/icon_altankas.svg") no-repeat center/contain;
}

.booking .show_altankas_map:hover {
  text-decoration: none;
}

.booking .book_form_wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap {
    flex-wrap: wrap;
  }
}

.booking .book_form_wrap .left_part {
  flex: 1 1 auto;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .left_part {
    flex: 1 1 100%;
  }
}

.booking .book_form_wrap .left_part .input_wrap {
  width: 100%;
  position: relative;
}

.booking .book_form_wrap .left_part .input_wrap + .input_wrap {
  margin-top: 18px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .left_part .input_wrap + .input_wrap {
    margin-top: 10px;
  }
}

.booking .book_form_wrap .left_part .input_wrap label {
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  position: relative;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .left_part .input_wrap label {
    height: 45px;
  }
}

.booking .book_form_wrap .left_part .input_wrap label input {
  width: calc(100% - 30px);
  line-height: 50px;
  height: 50px;
  border: none;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #00263a;
  padding-left: 30px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .left_part .input_wrap label input {
    line-height: 45px;
    height: 45px;
  }
}

.booking .book_form_wrap .left_part .input_wrap label input:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.booking .book_form_wrap .left_part .input_wrap label input:invalid {
  color: #a42b45;
  border: 2px solid #a42b45;
}

.booking .book_form_wrap .right_part {
  flex: 1 1 auto;
  padding-left: 40px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .right_part {
    flex: 1 1 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}

.booking .book_form_wrap .right_part p {
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 20px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .right_part p {
    font-size: 10px;
  }
}

.booking .book_form_wrap .right_part p + p {
  margin-top: 13px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .right_part p + p {
    margin-top: 0;
  }
}

.booking .book_form_wrap .right_part p span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  margin-left: 9px;
}

@media all and (max-width: 750px) {
  .booking .book_form_wrap .right_part p span {
    font-size: 10px;
  }
}

.inner {
  margin-top: 50px;
}

.subtitle_s2 {
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #00263a;
  font-weight: 900;
}

.umovy {
  max-width: 510px;
  margin: 0 auto;
}

.umovy li {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}

@media all and (max-width: 750px) {
  .umovy li {
    font-size: 11px;
    line-height: 18px;
  }
}

.accept {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 750px) {
  .accept {
    align-items: flex-start;
  }
}

.accept input {
  display: none;
}

.accept span {
  width: 20px;
  height: 20px;
  border: 2px solid #00263a;
  cursor: pointer;
  flex: none;
}

.accept p {
  cursor: pointer;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  padding-top: 2px;
}

@media all and (max-width: 750px) {
  .accept p {
    font-size: 11px;
    line-height: 15px;
    padding-top: 3px;
  }
}

.accept input:checked + span {
  background: url("../img/checked-symbol.svg") no-repeat center/12px;
}

.alert_box {
  max-width: 896px;
  margin: 0 auto 16px;
  height: 70px;
  background: #a42b45;
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #fff;
}

.alert_box .alert_icon {
  width: 32px;
}

.modal_overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 180ms;
}

.modal_overlay.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 180ms;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal_overlay .close {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/form_cancel.svg") no-repeat center/contain;
}

.modal_overlay .close.white {
  background: url("../img/form_cancel_white.svg") no-repeat center/contain;
}

.modal_overlay .thanks {
  background-color: #fff;
  padding: 62px 55px 42px;
}

.modal_overlay .thanks .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 40px;
  text-align: center;
  color: #00263a;
  margin-bottom: 54px;
  text-align: center;
  text-transform: uppercase;
}

.modal_overlay .thanks .blue_wave_link {
  margin-top: 0;
}
/*# sourceMappingURL=styles.css.map */