@import "basic.scss";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
}

body {
  display: flex;
  flex-direction: column;

  &.no_scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1336px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.grey_wave_link, .blue_wave_link {
  transition-duration: 0.2s;

  &::before {
    transition-duration: 0.2s;
  }

  &:hover {
    transition-duration: 0.2s;

    &::before {
      transition-duration: 0.2s;    
    }
  }
}

.grey_wave_link {
  background: url("../img/waves_white.svg") no-repeat left bottom -3px / contain;

  &:hover {
    color: #fff;
    background: rgb(164, 43, 69) url("../img/waves_white.svg") no-repeat left bottom -3px / contain;
  }
}

header {
  background: #00263a url('../img/altankas_top_bg_desctop.jpg') no-repeat center / contain;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 59px;
    letter-spacing: 0.01em;
    line-height: 77px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
  }
}

main {
  flex: 1 1 auto;
  min-height: auto;
  padding-top: 83px;
  padding-bottom: 97px;
  background-color: #f5f5f5;
}

footer {
  height: 450px;
  background: #00263a;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  text-align: left;

  &::before {
    content: "||";
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -1px;
  }

  a {
    color: #00263a;
    padding-right: 12px;

    &::after {
      content: "|";
      color: #00263a;
      position: absolute;
      top: -1px;
      right: 4px;
    }
  }

  span {
    opacity: 0.5;
  }
}

.content {
  padding: 65px 45px 55px;

  @media all and (max-width: 750px) {
    padding: 50px 20px 40px;
  }
}

.pup_sub_title {
  font-size: 14px;
  cursor: default;
  margin-bottom: 10px;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.pup_text {
  color: #00263a;
  cursor: default;
  font: normal normal normal 14px/23px Montserrat;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}

.alt_date {
  text-decoration: none;
  margin-bottom: 2px;
  font: normal normal 800 19px/58px Montserrat;
  letter-spacing: 0px;
  line-height: 10px;

  @media all and (max-width: 760px) {
    font-size: 16px;
  }
}

.content {
  max-width: 896px;
  margin: auto;
  background-color: #fff;
  padding: 50px 60px 45px;
}

.booking {
  .content {
    @media all and (max-width: 1020px) {
      width: 90vw;
    }

    @media all and (max-width: 760px) {
      padding: 20px 20px 30px;
      min-height: unset;
    }
  }

  .pup_text_style {
    letter-spacing: 0.3px;

    @media all and (max-width: 760px) {
      font-size: 18px;
      margin-top: 26px;
      margin-bottom: 10px;
    }
  }

  .popup-inner [data-popup-close] {
    right: 22px;
    top: 28px;

    @media all and (max-width: 760px) {
      top: 20px;
    }
  }

  .progress_line_wrap {
    display: flex;
    align-items: center;

    @media all and (max-width: 760px) {
      justify-content: center;
    }

    .step {
      position: relative;

      @media all and (max-width: 760px) {
        & + .line + .step {
          margin-left: 15px;
        }
      }

      .img_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        border: 2px solid #00263a;
        opacity: 0.3;
        transition: opacity 360ms;

        img {
          max-width: 20px;
          max-height: 20px;
          object-fit: none;
        }

        @media all and (max-width: 760px) {
          width: 8px;
          height: 8px;
          border: 1px solid #00263a;
        }

        img {
          @media all and (max-width: 760px) {
            display: none;
          }
        }
      }

      span {
        cursor: pointer;
        position: absolute;
        top: 105%;
        color: #00263a;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        left: 50%;
        transform-origin: top left;
        transform: translateX(-50%);
        opacity: 0.3;
        transition: opacity 180ms;

        @media all and (max-width: 760px) {
          color: transparent;
          width: 15px;
          height: 15px;
          top: -4px;
          left: 2px;
          overflow: hidden;
        }
      }

      &.active {
        .img_wrap,
        span {
          opacity: 1;
          transition: opacity 360ms;
        }

        .img_wrap {
          @media all and (max-width: 760px) {
            background-color: #00263a;
          }
        }
      }
    }

    .line {
      flex: 1 1 auto;
      height: 2px;
      background-color: #00263a;
      opacity: 0.3;
      transition: opacity 360ms;

      @media all and (max-width: 760px) {
        display: none;
      }

      &.active {
        opacity: 1;
        transition: opacity 360ms;
      }
    }
  }

  .booking_date {
    margin-top: 15px;

    @media all and (max-width: 760px) {
      margin-top: -8px;
      margin-bottom: -12px;
    }

    p {
      cursor: default;
      font: normal normal 800 16px/58px Montserrat;
      letter-spacing: 0.16px;
      color: #00263a;

      @media all and (max-width: 760px) {
        font-size: 11px;
      }

      span {
        margin-left: 15px;
        cursor: default;
        font: normal normal normal 600 14px/23px Montserrat;
        letter-spacing: 0px;

        @media all and (max-width: 760px) {
          font-size: 13px;
        }
      }
    }
  }

  .dates_table_wrap {
    border: 2px solid #00263a;
    padding: 27px 40px 40px 40px;

    @media all and (max-width: 760px) {
      padding: 0 27px 18px 23px;
    }
  }

  .month_switch {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .month {
      width: 235px;
      color: #00263a;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.16px;
      line-height: 58px;
      text-align: center;
      cursor: default;

      @media all and (max-width: 760px) {
        font-size: 11px;
        width: 135px;
      }
    }

    button {
      width: 20px;
      height: 25px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.prew_mnth {
        &:before {
          transform: rotate(180deg);
          background: url("../img/calendar_arrow.svg") no-repeat center / 10px
            auto;

          @media all and (max-width: 760px) {
            background: url("../img/calendar_arrow.svg") no-repeat center / 7px
              auto;
          }
        }
      }

      &.next_mnth {
        &:before {
          background: url("../img/calendar_arrow.svg") no-repeat center / 10px
            auto;

          @media all and (max-width: 760px) {
            background: url("../img/calendar_arrow.svg") no-repeat center / 7px
              auto;
          }
        }
      }
    }
  }

  .days_line_wrap {
    padding-top: 11px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 760px) {
      padding-top: 0;
      margin-top: -5px;
      padding-bottom: 10px;
    }

    p {
      cursor: default;
      color: #00263a;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.14px;
      line-height: 20px;
      width: 44px;
      text-align: center;

      @media all and (max-width: 760px) {
        font-size: 11px;
        width: 20px;
      }
    }
  }

  .calendar {
    .line {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & + .line {
        margin-top: 20px;

        @media all and (max-width: 760px) {
          margin-top: 14px;
        }
      }
    }

    .day {
      width: 44px;
      height: 44px;
      color: #00263a;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 15px;
      cursor: pointer;
      background-color: transparent;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
      opacity: 1;
      transform: scale(1);
      transition: opacity 180ms, color 180ms, background-color 180ms,
        box-shadow 180ms, transform 180ms;

      @media all and (max-width: 760px) {
        font-size: 11px;
        width: 20px;
        height: 20px;
        padding: 0;
        line-height: 20px;
      }

      &.disabled {
        opacity: 0.3;
        cursor: default;
      }

      &.curent {
        opacity: 1;
        font-weight: 700;
      }

      &.active {
        background-color: #a42b45;
        opacity: 1;
        color: #fff;
        transition: opacity 180ms, color 180ms, background-color 180ms,
          box-shadow 180ms, transform 180ms;
      }

      &:hover:not(.disabled) {
        background-color: #a42b45;
        opacity: 1;
        color: #fff;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        transform: scale(1.18);
        transition: opacity 180ms, color 180ms, background-color 180ms,
          box-shadow 180ms, transform 180ms;
      }
    }
  }

  .bnths_wrap {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 450px) {
      height: auto;
      position: relative;
      bottom: auto;
      width: 100%;
    }

    .blue_wave_link,
    .grey_wave_link {
      margin-top: 40px;

      @media all and (max-width: 750px) {
        margin-top: 15px;
      }
    }
  }

  .blue_wave_link,
  .grey_wave_link {
    height: 51px;
    line-height: 0px;
    width: 207px;
    margin-top: 12px;
    padding: 26px 10px 25px;
    letter-spacing: 0px;

    @media all and (max-width: 760px) {
      height: 30px;
      width: 135px;
      margin-top: 15px;
      padding: 10px 10px 10px;
      font-size: 8px;
      background-size: 55%, 100%;
      background-position-x: -43%;
      background-position-y: 2px;
    }
  }

  .altanka_selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 17px;

    @media all and (max-width: 770px) {
      flex-wrap: wrap;
      margin-top: 11px;
      margin-bottom: 10px;
    }

    .select_and_map {
      @media all and (max-width: 770px) {
        flex: 1 1 100%;
        margin-bottom: 15px;
      }

      .booking_type {
        cursor: default;
        display: flex;
        align-items: center;
        color: #00263a;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.16px;
        margin-bottom: 5px;

        @media all and (max-width: 750px) {
          flex-wrap: wrap;
          font-size: 11px;
        }

        &.under {
          font-weight: 600;
        }
      }

      .show_map {
        color: #00263a;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.14px;
        line-height: 20px;
        text-decoration: underline;
        background-color: transparent;
        border: none;
        padding: 0;

        @media all and (max-width: 750px) {
          font-size: 10px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    .drop_down_wrap {
      width: 300px;
      height: 50px;
      border: 2px solid #00263a;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: 1;
      transition: opacity 180ms;

      @media all and (max-width: 750px) {
        width: 100%;
      }

      &:hover {
        opacity: 0.4;
        transition: opacity 180ms;
      }

      &.active {
        opacity: 1;
        transition: opacity 180ms;
      }

      .title {
        position: absolute;
        left: 20px;
        top: -10px;
        cursor: pointer;
        background-color: #fff;
        width: 95px;
        height: 20px;
        color: #00263a;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.11px;
        line-height: 20px;
        text-align: left;
        text-align: center;
      }

      img {
        margin-left: 20px;
        width: 15px;
        height: 9px;
      }

      .selcted {
        color: #00263a;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 600;
        margin-left: 17px;

        @media all and (max-width: 750px) {
          font-size: 11px;
        }
      }

      .drop {
        z-index: 11;
        top: 110%;
        left: -2px;
        position: absolute;
        width: calc(100% + 4px);
        border: 2px solid #00263a;
        background-color: #fff;
        padding: 20px;
        opacity: 0;
        pointer-events: none;
        transition: all 180ms;

        div {
          color: #00263a;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          padding-left: 33px;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            width: 17px;
            height: 13px;
            background: url("../img/checked-symbol.svg") no-repeat center /
              contain;
              opacity: 0;
              transition: opacity 180ms;
          }

          &.selected {
            font-weight: 600;
            position: relative;

            &::before {
              opacity: 1;
              transition: opacity 180ms;
            }
          }

          &:hover {
            &::before {
              opacity: 1;
              transition: opacity 180ms;
            }
          }
        }
      }

      &.active {
        .drop {
          opacity: 1;
          pointer-events: all;
          transition: all 180ms;
        }
      }
    }
  }

  .altanki_wrap {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;

    .altanka {
      text-align: center;
      width: 50px;
      height: 50px;
      border: 1px solid #707070;
      background-color: #fff;
      color: #00263a;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      padding-top: 8px;
      line-height: normal;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
      transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms,
        background-color 180ms;

      @media all and (max-width: 750px) {
        width: 45px;
        height: 45px;
        margin-bottom: 14px;
      }

      span {
        display: block;
        font-size: 10px;
        color: #00263a;
        font-weight: 400;
        transition: color 180ms;
        cursor: pointer;

        &:before {
          content: "₴";
        }
      }

      &.reserved {
        cursor: default;
        background-color: #dbdbdb;

        span {
          cursor: default;
        }
      }

      &.active {
        border: 1px solid #a42b45;
        background-color: #a42b45;
        color: #fff;
        transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms,
          background-color 180ms;

        span {
          color: #fff;
          transition: color 180ms;
        }
      }

      &.booked {
        cursor: default;
        border: 1px solid #00263a;
        background-color: #00263a;
        color: #fff;
        transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms,
          background-color 180ms;

        span {
          color: #fff;
          transition: color 180ms;
        }
      }

      &:hover:not(.reserved):not(.active):not(.booked) {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #a42b45;
        color: #fff;
        transform: scale(1.15);
        border: 1px solid #a42b45;
        transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms,
          background-color 180ms;

        span {
          color: #fff;
          transition: color 180ms;
        }
      }
    }

    &:after {
      content: "";
      flex: 1 1 auto;
    }
  }

  .under_altankas {
    display: grid;
    margin-top: 20px;
    gap: 0 40px;
    grid-template-areas: 
    "status_wrap legend_wrap"
    "status_wrap show_popup";
  }

  .status_wrap {
    grid-area: status_wrap;

    .status {
      display: flex;
      align-items: center;
      color: #00263a;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
      margin-right: 26px;
      cursor: default;

      @media all and (max-width: 750px) {
        margin-bottom: 5px;
      }

      span {
        width: 19px;
        height: 19px;
        margin-right: 12px;

        @media all and (max-width: 750px) {
          width: 15px;
          height: 15px;
        }

        &.empty {
          border: 1px solid #707070;
          background-color: #ffffff;
        }

        &.selected {
          background-color: #a42b45;
        }

        &.reserved {
          background-color: #878787;
        }

        &.booked {
          background-color: #00263a;
        }
      }

      & + .status {
        margin-top: 12px;
      }
    }
  }

  .reserv_data {
    color: #00263a;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    padding-left: 217px;
    margin-top: 5px;
    margin-bottom: 8px;
    cursor: default;

    @media all and (max-width: 770px) {
      padding-left: 0;
      line-height: 16px;
    }
  }

  .preson_count {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
    gap: 0 10px;
    flex-wrap: wrap;
    align-items: center;

    @media all and (max-width: 770px) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    & > p {
      color: #00263a;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.14px;
      line-height: 20px;
      margin-right: 41px;
      cursor: default;
      text-transform: uppercase;
      white-space: nowrap;

      @media all and (max-width: 770px) {
        padding-left: 0;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 11px;
      }
    }

    .type {
      flex: 1 1 50%;
      display: flex;
      align-items: center;

      @media all and (max-width: 750px) {
        flex: 1 1 100%;
        margin-bottom: 5px;
      }

      span {
        width: 68px;
        color: #00263a;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        cursor: default;

        img {
          margin-left: 7px;
          width: 12px;
          height: 16px;
        }
      }

      p {
        color: #00263a;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
      }
    }
  }

  .show_altankas_map {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 58px;
    text-align: left;
    color: #00263a;
    text-decoration: underline;
    font-weight: 900;

    &::before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      margin-right: 22px;
      background: url("../img/icon_altankas.svg") no-repeat center / contain;
    }

    &:hover {
      text-decoration: none;  
    }
  }

  .book_form_wrap {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media all and (max-width: 750px) {
      flex-wrap: wrap;
    }

    .left_part {
      flex: 1 1 auto;

      @media all and (max-width: 750px) {
        flex: 1 1 100%;
      }

      .input_wrap {
        width: 100%;
        position: relative;

        & + .input_wrap {
          margin-top: 18px;

          @media all and (max-width: 750px) {
            margin-top: 10px;
          }
        }

        label {
          width: 100%;
          margin-bottom: 0;
          height: 50px;
          position: relative;

          @media all and (max-width: 750px) {
            height: 45px;
          }

          input {
            width: calc(100% - 30px);
            line-height: 50px;
            height: 50px;
            border: none;
            color: #00263a;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            border: 2px solid #00263a;
            padding-left: 30px;

            @media all and (max-width: 750px) {
              line-height: 45px;
              height: 45px;
            }

            &:focus {
              outline: -webkit-focus-ring-color auto 0;
            }

            &:invalid {
              color: #a42b45;
              border: 2px solid #a42b45;
            }
          }
        }
      }
    }

    .right_part {
      flex: 1 1 auto;
      padding-left: 40px;

      @media all and (max-width: 750px) {
        flex: 1 1 100%;
        padding-left: 0;
        margin-top: 20px;
      }

      p {
        display: flex;
        align-items: center;
        color: #00263a;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.14px;
        line-height: 20px;

        @media all and (max-width: 750px) {
          font-size: 10px;
        }

        & + p {
          margin-top: 13px;

          @media all and (max-width: 750px) {
            margin-top: 0;
          }
        }

        span {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: normal;
          margin-left: 9px;

          @media all and (max-width: 750px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.inner {
  margin-top: 50px;
}

.subtitle_s2 {
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #00263a;
  font-weight: 900;
}

.umovy {
  max-width: 510px;
  margin: 0 auto;

  li {
    color: #00263a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    cursor: default;

    @media all and (max-width: 750px) {
      font-size: 11px;
      line-height: 18px;
    }
  }
}

.accept {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (max-width: 750px) {
    align-items: flex-start;
  }

  input {
    display: none;
  }

  span {
    width: 20px;
    height: 20px;
    border: 2px solid #00263a;
    cursor: pointer;
    flex: none;
  }

  p {
    cursor: pointer;
    color: #00263a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    padding-top: 2px;

    @media all and (max-width: 750px) {
      font-size: 11px;
      line-height: 15px;
      padding-top: 3px;
    }
  }

  input:checked + span {
    background: url("../img/checked-symbol.svg") no-repeat center / 12px;
  }
}

.alert_box {
  max-width:896px;
  margin: 0 auto 16px;
  height: 70px;
  background: #a42b45;
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #fff;

  .alert_icon {
    width: 32px;
  }
}